$bg-color: #18211A;

$header-bg: #274335;
$header-top: #C0FF99;
$header-title: #89CB35;

$burger-line: #B4E397;

$left-cnt-bg: #374940;
$right-cnt-bg: #3F574B;

$color-text-wh: #fff;
$color-brickl: #89CB35;

$sub-title-line: #B4E397;

$bg-season-color: #385E3A;
$border-season: #B4E397;

$bg-button: #4E6E60;
$bg-random-seria: #446256;
$hover-border: #89CB35;

$bg-more-cartoon: #526A5D;

$bg-str-button: #5D6C64;


$simpsons-color: #FFED4A;
$south-park-color: #FF8031; 
$futurama-color: #55D3CC;


.none{display: none;}