



@media (max-width: 944px) {
    .title-description-ser {
        .title-descr-ser-top {
            font-size: 25px;
        }
    } 
    .sub-title-descr-ser {
        .text-sub-title-ser {
            font-size: 18px;
        }
    } 

    .st-text-str {
        font-size: 20px;
    }
    .comment-text {
        .text-com {
            font-size: 45px;
        }
    }
    .nex-past-series {
        margin-bottom: 65px;
    }
}


@media (max-width: 710px) {
    .bg-strelka {
        width: 25px;
        height: 25px;
        img {
            margin-top: 5px;
            margin-right: 3px;
            width: 6px;
            height: 14px;
        }
    }
    .pust-text {
        margin-left: 10px;
    }
    .next-text {
        margin-right: 10px;
    }
    .title-description-ser {
        .title-descr-ser-top {
            font-size: 21px;
        }
    } 
    .sub-title-descr-ser {
        .text-sub-title-ser {
            font-size: 14px;
        }
    } 
    .comment-text {
        .text-com {
            padding: 10px 0;
            font-size: 17px;
        }
    }
    .left-title-an {
        .title-angl {
            font-size: 15px;
        }
    } 
    .right-title-numb {
        .title-number {
            font-size: 15px;
        }
    }
    .st-text-str {
        font-size: 18px;
    }
}


@media (max-width: 570px) {
    .left-title-an {
        .title-angl {
            font-size: 14px;
        }
    } 
    .right-title-numb {
        .title-number {
            font-size: 14px;
        }
    }
    .description-title{
        .title-descr {
            font-size: 20px;
            line-height: 28px;
        }
    }
    .choice-oz {
        .ozvychka {
            font-size: 16px;
        }
    }
    .title-description-ser {
        .title-descr-ser-top {
            font-size: 21px;
        }
    } 
    .sub-title-descr-ser {
        .text-sub-title-ser {
            font-size: 14px;
        }
    } 
    .comment-text {
        .text-com {
            padding: 10px 0;
            font-size: 17px;
        }
    } 
    .description-block-seres {
        margin-bottom: 60px;
    }
    .comment-text {
        margin-bottom: 60px;
    }
    .st-text-str {
        font-size: 15px;
    }
    .sub-title-descr {
        margin-bottom: 30px;
    }
    .nex-past-series {
        margin-bottom: 30px;
    }
}



@media (max-width: 470px) {
    .description-title{
        .title-descr {
            font-size: 14px;
            line-height: 20px;
        }
    }
    .left-title-an {
        .title-angl {
            font-size: 10px;
        }
    } 
    .right-title-numb {
        .title-number {
            font-size: 10px;
        }
    }
    .sub-title-descr {
        margin-bottom: 30px;
    }
    .choice-oz {
        .ozvychka {
            font-size: 9px;
            line-height: 1px;
        }
    }
    .st-text-str {
        font-size: 10px;
    }
    .bg-strelka {
        width: 15px;
        height: 15px;
        img {
            // margin-top: 5px;
            // margin-right: 3px;
            margin: 0;
            width: 4px;
            height: 9px;
        }
    }
    .content-title {
        .title-link{
            .link-title {
                font-size: 35px;
            }
        }
    } 
    .nex-past-series {
        margin-bottom: 30px;
    }
    .title-description-ser {
        .title-descr-ser-top {
            font-size: 14px;
            line-height: 25px;
        }
    }
    .sub-title-descr-ser {
        margin-top: 8px;
        .text-sub-title-ser {
            font-size: 11px;
            line-height: 24px;
        }
    }
    .comment-text {
        .text-com {
            padding: 0;
            font-size: 13px;
        }
    } 
}