


@media (max-width: 1180px) {
    .main-right-content-conteiner {
        margin-left: 15px;
        margin-right: 15px;
        justify-content: center;
    }
}

@media (max-width: 944px) {
    .main-right-content {
        display: none;
    }
}
